<package-def>
	<class name="ЧтениеСкобкофайла" file="Классы/ЧтениеСкобкофайла.os"/>
	<class name="ЧтениеСловаряЖР" file="Классы/ЧтениеСловаряЖР.os"/>
	<class name="ЧтениеЖР" file="Классы/ЧтениеЖР.os"/>
	<class name="ЧтениеСпискаИБ" file="Классы/ЧтениеСпискаИБ.os"/>
	<class name="ОтправкаЖРВЭластик" file="Классы/ОтправкаЖРВЭластик.os"/>
	<module name="Служебный" file="Модули/Служебный.os"/>
</package-def>